<div class="text-center">
    <h1 class="display-4">Сумарне використання теплоенергії та електроенергії</h1>
</div>

@{
    ViewData["Title"] = "Статистика сумарного використання теплоенергії та електроенергії";
    int index = 0;
    foreach (EnergyType energyType in Model.EnergyTypes)
    {
        <canvas id="#@index" style="position: relative; height:40vh; width:80vw"></canvas>
        <script>
            var data = @Html.Raw(Json.Serialize(energyType));
            console.log(data);
            var myChart = new Chart(document.getElementById('#@index'),
                {
                    type: 'line',
                    data: {
                        labels: @Html.Raw(Json.Serialize(Model.Years)),
                        datasets: [
                            {
                                label: data.name,
                                data: data.activities[0].energyUsage.map(u => u.usedEnergy),
                                borderWidth: 1,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                    }
                });
        </script>
        index++;
    }
}