<div class="text-center">
    <h1 class="display-4">За видами економічної діяльності</h1>
</div>

@{
    ViewData["Title"] = "Використання теплоенергії та електроенергії за видами економічної діяльності";
    int index = 0;

    foreach (EnergyType energyType in Model.EnergyTypes)
    {
        <canvas id="#@index" style="position: relative; height:100vh; width:80vw"></canvas>
        <script>
            var data = @Html.Raw(Json.Serialize(energyType));
            console.log(data);
            var myChart = new Chart(document.getElementById('#@index'),
                {
                    type: 'line',
                    data: {
                        labels: @Html.Raw(Json.Serialize(Model.Years)),
                        datasets: data.activities.slice(1, -1).map(a => {
                            return {
                                label: a.name,
                                data: a.energyUsage.map(u => u.usedEnergy),
                                borderWidth: 1
                            }
                        })
                    },
                    options: {
                        responsive: true
                    }
                });
        </script>
        index++;
    }
}
